Requisitos Funcionais {

    // ==========================================
    // BLOCO 1: USUÁRIO E AUTENTICAÇÃO
    // ==========================================

    ID RF01 CADASTRAR USUÁRIO {
        Descrição {
            Possibilita o usuário se cadastrar no sistema.
        }

        Restrições {
            O usuário ainda possuir um cadastro.
        }

        Ações {
            Acessar tela de cadastro e preencher as informações necessárias.
        }

        Resultado {
	O novo cadastro será salvo na base de dados e o usuário será redirecionado à tela principal. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF01 CADASTRAR USUÁRIO


    ID RF02 LOGAR NO SISTEMA {
        Descrição {
            Possibilita o usuário logar no sistema.
        }

        Restrições {
            O usuário possuir um cadastro.
        }

        Ações {
            Acessar tela de login, preencher as informações necessárias e acionar a opção de entrar.
        }

        Resultado {
            O usuário será redirecionado à tela principal. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF02 LOGAR NO SISTEMA


    ID RF03 RECUPERAR SENHA {
        Descrição {
            Permite ao usuário solicitar a redefinição de sua senha de acesso caso a tenha esquecido.
        }

        Restrições {
            O usuário possuir um cadastro.
        }

        Ações {
            Acessar tela de login, acionar a opção de recuperar senha e informar o email cadastrado em sua conta.
        }

        Resultado {
            Serão enviadas instruções ao email informado pelo usuário. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF03 RECUPERAR SENHA


    ID RF04 ALTERAR CADASTRO DE USUÁRIO {
        Descrição {
            Possibilita o usuário alterar suas informações de cadastro, ou o administrador alterar as informações de cadastro de um usuário qualquer.
        }

        Restrições {
            O usuário possuir um cadastro.
        }

        Ações {
            Acessar tela de perfil do usuário e acionar a opção de alterar informações de cadastro.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e as informações de cadastro do usuário serão alteradas na base de dados. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF04 ALTERAR CADASTRO DE USUÁRIO


    ID RF05 LISTAR CADASTROS DE USUÁRIOS {
        Descrição {
            Possibilita o administrador consultar uma lista contendo todos os usuários cadastrados no sistema.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar tela de gerenciamento de usuários e acionar a opção de listar cadastros.
        }

        Resultado {
            Será exibida uma lista de cadastros de usuários. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF05 LISTAR CADASTROS DE USUÁRIOS


    ID RF06 CONSULTAR CADASTRO DE USUÁRIO {
        Descrição {
            Possibilita o administrador consultar o cadastro de um usuário qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar tela de gerenciamento de usuários e acionar a opção de consultar cadastro de usuário.
        }

        Resultado {
            Será exibido o cadastro do usuário. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF06 CONSULTAR CADASTRO DE USUÁRIO


    ID RF07 EXCLUIR CADASTRO DE USUÁRIO {
        Descrição {
            Possibilita o administrador excluir o cadastro de um usuário qualquer.
        }

        Restrições {
            O usuário ser administrador.
        }

        Ações {
            Acessar tela de gerenciamento de usuários e acionar a opção de excluir cadastro de usuário.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o cadastro do usuário será excluído da base de dados. Caso contrário, será exibida uma mensagem descrevendo o erro. 
        }
    } //Fim RF07 EXCLUIR CADASTRO DE USUÁRIO


    ID RF08 ATRIBUIR PERFIL DE ACESSO AO USUÁRIO {
        Descrição {
            Possibilita o administrador atribuir perfil de acesso a um usuário qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de usuários e acionar a opção de atribuir perfil de acesso ao usuário.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o perfil de acesso do usuário será atribuido. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF08 ATRIBUIR PERFIL DE ACESSO AO USUÁRIO


    ID RF09 SAIR DO SISTEMA {
        Descrição {
            Possibilita o usuário sair do sistema.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar configurações e acionar a opção de sair do sistema.
        }

        Resultado {
            O usuário sairá do sistema. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF09 SAIR DO SISTEMA



    // ==========================================
    // BLOCO 2: GESTÃO E CONSULTA DE ESPAÇOS
    // ==========================================

    ID RF10 CADASTRAR ESPAÇO {
        Descrição {
            Possibilita o administrador cadastrar um espaço.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Preencher os dados obrigatórios do ambiente (Nome, capacidade, localização) e salvar.
        }

        Resultado {
            Acessar a tela de gerenciamento de espaços e acionar a opção cadastrar espaço.
        }
    } //Fim RF10 CADASTRAR ESPAÇO


    ID RF11 LISTAR CADASTROS DE ESPAÇOS {
        Descrição {
            Possibilita o administrador acessar uma lista com todos os espaços cadastrados.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção listar cadastros de espaço.
        }

        Resultado {
            Será exibida uma lista com todos os espaços cadastrados. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF11 LISTAR CADASTROS DE ESPAÇOS


    ID RF12 CONSULTAR CADASTRO DE ESPAÇO {
        Descrição {
            Possibilita o administrador consultar o cadastro de um espaço qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção consultar cadastro de espaço.
        }

        Resultado {
            Será exibido o cadastro do espaço escolhido para consulta. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF12 CONSULTAR CADASTRO DE ESPAÇO


    ID RF13 ALTERAR CADASTRO DE ESPAÇO {
        Descrição {
            Possibilita o administrador alterar o cadastro de um espaço qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção alterar cadastro de espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o cadastro do espaço escolhido será alterado. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF13 ALTERAR CADASTRO DE ESPAÇO


    ID RF14 EXCLUIR CADASTRO DE ESPAÇO {
        Descrição {
            Possibilita o administrador excluir o cadastro de um espaço qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção excluir cadastro de espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o cadastro do espaço escolhido será excluído da base de dados. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF14 EXCLUIR CADASTRO DE ESPAÇO


    ID RF15 VISUALIZAR FOTOS DO ESPAÇO {
        Descrição {
            Possibilita o usuário visualizar as fotos de um espaço qualquer.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar a tela de reservas e acionar a opção ver galeria do espaço.
        }

        Resultado {
            Será exibida as fotos do espaço escolhido. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF15 VISUALIZAR FOTOS DO ESPAÇO


    ID RF16 FAVORITAR ESPAÇO {
        Descrição {
            Possibilita o usuário favoritar um espaço qualquer.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar a tela de reservas e acionar a opção favoritar espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o espaço escolhido será favoritado. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF16 FAVORITAR ESPAÇO



    // ==========================================
    // BLOCO 3: RESERVAS E AGENDAMENTOS
    // ==========================================

    ID RF17 CADASTRAR RESERVA DE ESPAÇO {
        Descrição {
            Possibilita o usuário cadastrar a reserva de um espaço qualquer.
        }

        Restrições {
           O usuário estar logado no sistema.
        }

        Ações {
            Acessar a tela de algum espaço e acionar a opção cadastrar reserva de espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e a reserva do espaço escolhido será cadastrada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF17 CADASTRAR RESERVA DE ESPAÇO

	
    ID RF18 ALTERAR RESERVA DE ESPAÇO {
        Descrição {
            Possibilita o usuário alterar as informações da sua reserva de espaço.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar a tela de minhas reservas e acionar a opção alterar reserva de espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e a reserva do espaço escolhido será alterada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF18 ALTERAR RESERVA DE ESPAÇO


    ID RF19 CANCELAR RESERVA DE ESPAÇO {
        Descrição {
            Possibilita o usuário cancelar sua reserva de um espaço qualquer.
        }

        Restrições {
            O usuário estar logado no sistema e possuir alguma reserva de espaço.
        }

        Ações {
            Acessar a tela de minhas reservas e acionar a opção cancelar reserva de espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e a reserva do espaço escolhido será cancelada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF19 CANCELAR RESERVA DE ESPAÇO


    ID RF20 LISTAR RESERVAS DE ESPAÇOS {
        Descrição {
            Possibilita o usuário acessar uma lista com suas reservas de espaço.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar qualquer tela do sistema e acionar a opção minhas reservas.
        }

        Resultado {
            Será exibida uma lista com as reservas de espaço do usuário. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF20 LISTAR RESERVAS DE ESPAÇOS


    ID RF21 CONSULTAR RESERVA DE ESPAÇO {
        Descrição {
            Possibilita o usuário consultar a reserva de um espaço.
        }

        Restrições {
            O usuário estar logado no sistema e possuir alguma reserva de espaço.
        }

        Ações {
            Acessar a tela minhas reservas e acionar a opção consultar reserva de espaço.
        }

        Resultado {
            Será exibida as informações da reserva de espaço consultada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF21 CONSULTAR RESERVA DE ESPAÇO


    ID RF22 CONSULTAR AGENDA DE RESERVAS DE ESPAÇO {
        Descrição {
            Possibilita o usuário consultar a agenda de reservas de um espaço qualquer.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar a tela de reserva de algum espaço e acionar a opção consultar agenda de reservas de espaço.
        }

        Resultado {
            Será exibida a agenda de reservas do espaço escolhido. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF22 CONSULTAR AGENDA DE RESERVAS DE ESPAÇO


    ID RF23 ENTRAR NA LISTA DE ESPERA PARA RESERVA {
        Descrição {
            Possibilita o usuário entrar na lista de espera para reserva de um espaço qualquer.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar a tela de reserva de algum espaço e acionar a opção entrar na lista de espera para reserva.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o usuário entrará na lista de espera para reserva do espaço escolhido. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF23 ENTRAR NA LISTA DE ESPERA PRA RESERVA



    // ==========================================
    // BLOCO 4: CONTROLE ADMINISTRATIVO DE RESERVAS
    // ==========================================

    ID RF24 BLOQUEAR RESERVA DO ESPAÇO POR PERÍODO {
        Descrição {
            Possibilita o administrador bloquear a reserva de um espaço qualquer por um período determinado.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção bloquear reserva do espaço por período.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e a reserva do espaço escolhido será bloqueada por um período determinado. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF24 BLOQUEAR RESERVA DO ESPAÇO POR PERÍODO


    ID RF25 DESBLOQUEAR RESERVAS DO ESPAÇO {
        Descrição {
            Possibilita o administrador desbloquear a reserva de um espaço qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção desbloquear reserva do espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e a reserva do espaço escolhido será desbloqueada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF25 DESBLOQUEAR RESERVAS DO ESPAÇO


    ID RF26 APROVAR RESERVA DE ESPAÇO {
        Descrição {
            Possibilita o administrador aprovar a reserva de um espaço qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção aprovar reserva de espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e a reserva de espaço escolhida será aprovada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF26 APROVAR RESERVA DE ESPAÇO


    ID RF27 REPROVAR RESERVA DE ESPAÇO {
        Descrição {
            Possibilita o administrador reprovar a reserva de um espaço qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção de reprovar reserva de espaço.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e a reserva de espaço escolhida será reprovada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF27 REPROVAR RESERVA DO ESPAÇO


    ID RF28 DEFINIR REGRAS DE RESERVA POR ESPAÇO {
        Descrição {
            Possibilita o administrador definir regras de reserva de um espaço qualquer.
        }

        Restrições {
            O usuário ser administrador e estar logado no sistema.
        }

        Ações {
            Acessar a tela de gerenciamento de espaços e acionar a opção definir regras de reserva de espaço.
        }

        Resultado {
            Em caso de sucesso, exibirá uma mensagem de sucesso e o check-out será feito, caso contrário, exibirá mensagem descrevendo o erro.
        }
    } //Fim RF28 DEFINIR REGRAS DE RESERVA POR ESPAÇO



    // ==========================================
    // BLOCO 5: FLUXO DE UTILIZAÇÃO (CHECK-IN/OUT)
    // ==========================================

    ID RF29 REALIZAR CHECK-IN DE RESERVA {
        Descrição {
            Possibilita o usuário realizar check-in de reserva.
        }

        Restrições {
            O usuário estar no local de sua reserva.
        }

        Ações {
            Realizar biometria digital no local de sua reserva.
        }

        Resultado {
            Será salvo o horário do check-in realizado pelo usuário. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF29 REALIZAR CHECK-IN DE RESERVA


    ID RF30 REALIZAR CHECK-OUT DE RESERVA {
        Descrição {
            Possibilita o usuário realizar check-out de reserva.
        }

        Restrições {
            O usuário estar no local de sua reserva.
        }

        Ações {
            Realizar biometria digital no local de sua reserva.
        }

        Resultado {
            Será salvo o horário do check-out realizado pelo usuário. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF30 REALIZAR CHECK-OUT DE RESERVA



    // ==========================================
    // BLOCO 6: INTERFACE, ACESSIBILIDADE E ASSISTENTE
    // ==========================================

    ID RF31 HABILITAR ASSISTENTE VIRTUAL {
        Descrição {
            Possibilita o usuário habilitar o assistente virtual.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar qualquer tela e acionar a opção habilitar assistente virtual.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o assistente virtual será habilitado. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF31 HABILITAR ASSISTENTE VIRTUAL


    ID RF32 DESABILITAR ASSISTENTE VIRTUAL {
        Descrição {
            Possibilita o usuário desabilitar o assistente virtual.
        }

        Restrições {
            O usuário estar logado no sistema.
        }

        Ações {
            Acessar qualquer tela e acionar a opção desabilitar assistente virtual.
        }

        Resultado {
            Será exibida uma mensagem de sucesso e o assistente virtual será desabilitado. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF32 DESABILITAR ASSISTENTE VIRTUAL


    ID RF33 ALTERAR PARA O MODO ESCURO {
        Descrição {
            Possibilita o usuário alterar para o modo escuro.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar a tela de acessibilidade e acionar a opção alterar para o modo escuro.
        }

        Resultado {
            O usuário irá alterar para o modo escuro. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF33 ALTERAR PARA O MODO ESCURO


    ID RF34 ALTERAR PARA O MODO CLARO {
        Descrição {
            Possibilita o usuário alterar para o modo claro.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar a tela de acessibilidade e acionar a opção alterar para o modo claro.
        }

        Resultado {
            O usuário irá alterar para o modo claro. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF34 ALTERAR PARA O MODO CLARO


    ID RF35 DEFINIR ESCALONAMENTO DE FONTE {
        Descrição {
            Possibilita o usuário definir o escalonamento de fonte.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar a tela de acessibilidade, acionar a opção definir escalonamento de fonte e escolher o tamanho desejado.
        }

        Resultado {
            O escalonamento de fonte será alterado de acordo com o tamanho escolhido. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF35 DEFINIR ESCALONAMENTO DE FONTE



    // ==========================================
    // BLOCO 7: INTERAÇÃO, AVALIAÇÕES E SUPORTE
    // ==========================================

    ID RF36 AVALIAR ESPAÇO {
        Descrição {
            Possibilita o usuário avaliar um espaço qualquer.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar a tela de reserva de algum espaço, acionar a opção avaliar espaço e preencher as informações necessárias.
        }

        Resultado {
            A avaliação será salva na base de dados. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF36 AVALIAR ESPAÇO


    ID RF37 EDITAR AVALIAÇÃO DO ESPAÇO {
        Descrição {
            Possibilita o usuário editar sua avaliação de algum espaço.
        }

        Restrições {
            Estar logado no sistema e possuir alguma avaliação de espaço.
        }

        Ações {
            Acessar a tela de avaliações de algum espaço, acionar a opção editar avaliação do espaço e preencher as informações necessárias.
        }

        Resultado {
            A avaliação do espaço será editada. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF37 EDITAR AVALIAÇÃO DO ESPAÇO


    ID RF38 LISTAR AVALIAÇÕES DE ESPAÇOS {
        Descrição {
            Possibilita o usuário acessar uma lista de avaliações de um espaço qualquer.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar a tela de reserva de algum espaço e acionar a opção listar avaliações de espaço.
        }

        Resultado {
            Será exibida uma lista com as avaliações do espaço escolhido. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF38 LISTAR AVALIAÇÕES DE ESPAÇOS


    ID RF39 CONSULTAR AVALIAÇÃO DO ESPAÇO {
        Descrição {
            Possibilita o usuário consultar uma avaliação de um espaço qualquer.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar a tela de avaliações de algum espaço, acionar a opção consultar avaliação do espaço e selecionar uma avaliação.
        }

        Resultado {
            Será exibida na tela as informações da avaliação escolhida. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF39 CONSULTAR AVALIAÇÃO DO ESPAÇO


    ID RF40 ABRIR CHAT INTERNO ENTRE USUÁRIO E ADMIN {
        Descrição {
            Possibilita o usuário abrir um chat interno com o administrador.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar tela de ajuda e acionar a opção abrir chat interno entre usuário e admin.
        }

        Resultado {
            Será aberto um chat interno entre o usuário e o administrador. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF40 ABRIR CHAT INTERNO ENTRE USUÁRIO E ADMIN


    ID RF41 REPORTAR PROBLEMA NO ESPAÇO {
        Descrição {
            Possibilita o usuário reportar problema em um espaço qualquer.
        }

        Restrições {
            Estar logado no sistema.
        }

        Ações {
            Acessar a tela de algum espaço, acionar a opção reportar problema no espaço e preencher as informações necessárias.
        }

        Resultado {
            O problema será reportado para os administradores. Caso contrário, será exibida uma mensagem descrevendo o erro.
        }
    } //Fim RF41 REPORTAR PROBLEMA NO ESPAÇO

} //Fim dos Requisitos Funcionais